.about-us {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  padding-top: 75px;

  @media (min-width: $tablet-width) {
    padding-top: 125px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 170px 0 0 125px;
    margin: 0 auto;
    max-width: 1050px;
  }
}

.about-us__title {
  @include main-subtitle;
  margin-top: 0;
  margin-bottom: 81px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
    padding: 0 50px;
    margin-bottom: 93px;
  }

  @media (min-width: $desktop-width) {
    color: $basic-black;
    font-size: 53px;
    line-height: 57px;
    padding: 0 50px;
    margin-bottom: 37px;
  }
}

.about-us::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 33px;
  background: url("../img/icons/zigzag-line.svg") center center;
  background-repeat: repeat-x;
  bottom: 50px;
  top: 24px;
  left: 0;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 100%;
    height: 33px;
    background: url("../img/icons/zigzag-line-tablet.svg") center center;
    background-repeat: repeat-x;
    bottom: 50px;
    top: 44px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: 68px;
    content: "";
    position: absolute;
    width: 100%;
    height: 33px;
    background: url("../img/icons/zigzag-line-desktop.svg") center center;
    background-repeat: repeat-x;
    bottom: 50px;
    left: 0;
  }
}


.about-us__list {
  @include list-item-style;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 83px;
  padding: 0 30px;
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .about-us__list {
    display: grid;
    padding: 0 50px;
    row-gap: 56px;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "flower thread"
      "banknote rocket"
      "heart gift";

    @media (min-width: $desktop-width) {
      row-gap: 0;
      grid-template-columns: 0.75fr 1fr;
      column-gap: 0;
    }
  }

  .about-us__item {
    font-size: 20px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 56px;
    }

    &--flower {
      grid-area: flower;
    }

    &--banknote {
      grid-area: banknote;
    }

    &--heart {
      grid-area: heart;
    }

    &--thread {
      grid-area: thread;
    }

    &--gift {
      grid-area: gift;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us__item {
    padding-top: 57px;
  }
}


.about-us__item {
  position: relative;


  @media (min-width: $tablet-width) {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
  }

  &--flower::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 38px;
    background: url("../img/icons/flower.svg") no-repeat center center;
    left: 8px;
    top: 6px;
  }

  &--banknote::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 27px;
    background: url("../img/icons/banknote.svg") no-repeat center center;
    left: 0;
    top: 6px;
  }

  &--heart::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 27px;
    background: url("../img/icons/heart.svg") no-repeat center center;
    left: 6px;
    top: 6px;
  }

  &--thread::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 34px;
    background: url("../img/icons/thread.svg") no-repeat center center;
    left: 3px;
    top: 6px;
  }

  &--rocket::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 23px;
    background: url("../img/icons/rocket.svg") no-repeat center center;
    left: -7px;
    top: 6px;
  }

  &--gift::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 38px;
    background: url("../img/icons/gift.svg") no-repeat center center;
    left: 2px;
    top: -3px;

    @media (min-width: $tablet-width) {
      bottom: 120px;
    }
  }
}
