.button {
  background-color: transparent;
  display: block;
  color: $dark-grey;
  text-align: center;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 14px 10px;
  border: 2px solid $dark-grey;

  &:hover,
  &:focus {
    background-color: $dark-grey;
    color: $basic-white;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}
