.footer {
  background-color: #f1f1f1;
}

.footer__social {
  @include list-item-style;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 24px;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
  }
}

.footer-bottom__text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  align-self: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    align-self: auto;
    padding-top: 15px;
  }
}

.footer-bottom {
  display: flex;
  gap: 30px;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 26px;
    background: url("../img/icons/divider.svg") no-repeat center center;
    left: 0;
    bottom: 48px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 26px;
    justify-content: center;
    position: relative;
  }
}

.footer__wrapper {
  @media (min-width: $tablet-width) {
    max-width: 668px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
    margin: 0 auto;
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    padding-top: 42px;
  }
}

.footer__logo {
  top: 8px;
  left: 0;
  display: block;
  position: relative;
  color: $basic-black;
  height: fit-content;

  &:hover {
    color: $dark-tiffany;
  }

  &:active {
    color: $dark-tiffany;
    opacity: 0.3;
  }

  &:focus-visible,
  &:focus {
    outline: 1px solid rgb(139, 14, 139);
    outline-offset: 5px;
  }

  &.disabled {
    opacity: 0.3;
  }

  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    top: 10px;
    left: 0;
  }
}

.footer__logo-link {
  @media (min-width: $desktop-width) {
    top: 10px;
    position: relative;
  }
}

.footer-bottom__link {
  color: $original-tiffany;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    opacity: 0.3;
  }

  &:focus-visible,
  &:focus {
    outline: 1px solid rgb(139, 14, 139);
    outline-offset: 5px;
  }
}
