
.form__group-title {
  position: relative;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  color: $original-tiffany;
  font-size: 17px;
  line-height: 16px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    align-self: center;
    padding-bottom: 83px;
  }
}

.form__group-title::after {
  content: "";
  width: calc(100% - 60px);
  height: 1px;
  background-color: #63d1bb;
  position: absolute;
  left: 60px;
  top: 7px;
}

.form__group {
  border: 0;
  padding: 0 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 140px;
    padding: 0 50px;
  }
}

.form__list {
  @include list-item-style;
}

.form__item {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  color: $basic-black;
  font-size: 17px;
  line-height: 18px;
}

.form-hero__text {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.form__required {
  padding: 0 30px 0 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: $basic-black;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    align-self: center;
    font-size: 17px;
    line-height: 30px;
    padding: 0 0 16px 0;
    min-width: max-content;
  }
}

.form__button {
  margin: 25px auto 57px auto;
  width: calc(100% - 58px);

  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }
}

.form__label {
  position: relative;
}

.form__label::after {
  content: "";
  width: calc(100% - 60px);
  height: 1px;
  background-color: #63d1bb;
  position: absolute;
  left: 60px;
  top: 7px;
}

.group-color .form__group-title {
  @media (min-width: $tablet-width) {
    padding-bottom: 160px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 83px;
  }
}

.group-name .form__group-title {
  @media (min-width: $tablet-width) {
    padding-top: 28px;
    align-self: flex-start;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 50px;
    gap: 136px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 222px;
    gap: 172px;
  }
}
