.goods {
  padding: 0 30px;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}

.goods-list__link {
  @include no-decor;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  color: $basic-white;
  font-size: 17px;
  line-height: 24px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.goods-list__item {
  padding: 23px 131px 31px 33px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 334px;
  }

  &--interior {
    background-color: $original-tiffany;

    &::after {
      content: "";
      position: absolute;
      background: url("../img/icons/lamp.svg") no-repeat center center;
      width: 40px;
      height: 62px;
      right: 36px;
      top: 22px;

      @media (min-width: $tablet-width) {
        right: 36px;
        top: 30px;
      }
    }
  }

  &--toys {
    background-color: $dark-tiffany;

    &::after {
      content: "";
      position: absolute;
      background: url("../img/icons/lego.svg") no-repeat center center;
      width: 60px;
      height: 60px;
      right: 27px;
      top: 21px;

      @media (min-width: $tablet-width) {
        right: 34px;
        top: 30px;
      }
    }
  }
}

.goods__title {
  @include main-subtitle;
  @include list-item-style;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }
}

.goods__subtitle {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  color: $original-tiffany;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  text-align: left;
}

.goods__container {
  display: flex;
  flex-direction: row;
}

.goods__table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 27px;
  margin-bottom: 40px;
}

.goods__value {
  margin: 0;

  &--color {
    padding-left: 62px;
  }

  &--diameter {
    padding-left: 35px;
  }

  &--height {
    padding-left: 45px;
  }
}

.goods__price {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding: 0 66px;
  margin-top: 0;
  margin-bottom: 23px;
}

.goods__img {
  margin-bottom: 20px;
}

.goods__button {
  width: 100%;
  margin-bottom: 75px;
}
