.goods {
  padding: 0 30px;
  margin-top: 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 106px auto 0 auto;
    padding: 0;
  }
}

.goods-list__link {
  @include no-decor;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  color: $basic-white;
  font-size: 19px;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
  display: block;
  padding: 24px 0 33px 30px;

  &:active {
    background-color: $basic-white;
    outline: none;
    color: $original-tiffany;
  }

  @media (min-width: $tablet-width) {
    &:hover {
      margin-top: -5px;
    }
    font-size: 20px;
    line-height: 30px;
    padding: 24px 0 40px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 0 42px 36px;
  }
}

.goods-list__item {
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 334px;
  }

  &--interior {
    background-color: $original-tiffany;

    &::after {
      content: "";
      position: absolute;
      background: url("../img/icons/lamp.svg") no-repeat center center;
      width: 40px;
      height: 62px;
      right: 36px;
      top: 22px;

      @media (min-width: $tablet-width) {
        right: 36px;
        top: 30px;
      }
    }
  }

  &--toys {
    background-color: $dark-tiffany;

    &::after {
      content: "";
      position: absolute;
      background: url("../img/icons/lego.svg") no-repeat center center;
      width: 60px;
      height: 60px;
      right: 27px;
      top: 21px;

      @media (min-width: $tablet-width) {
        right: 34px;
        top: 30px;
      }
    }
  }
}

.goods__title {
  @include main-subtitle;
  @include list-item-style;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 53px;
    line-height: 57px;
  }
}

.goods__subtitle {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  color: $original-tiffany;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  text-align: left;

  @media (min-width: $tablet-width) {
    max-width: min-content;
    text-align: center;
    padding-right: 27px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding-right: 0;
    padding-left: 45px;
    padding-top: 5px;
  }
}

.goods__container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.goods__container::after {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px solid #f1f1f1;
  top: 35px;
}

.goods__table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 27px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    grid-area: 2/1/2/1;
    margin-top: 0;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 2/1/2/1;
    margin-bottom: 0;
    margin-top: -57px;
  }
}

.goods__value {
  margin: 0;

  &--color {
    padding-left: 62px;
  }

  &--diameter {
    padding-left: 35px;
  }

  &--height {
    padding-left: 45px;
  }
}

.goods__price {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding: 0 66px;
  margin-top: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    grid-area: 3/1/4/1;
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 13px;
    padding: 0 71px;
  }
}

.goods__img {
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    bottom: 165px;
    right: 0;
    z-index: -1;
  }
}

.goods__button {
  width: 100%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    grid-area: 4/1/5/1;
  }
}

.goods__wrapper-inner {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 58px;
    margin-bottom: 44px;
  }
}


.goods__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 127px 158px 68px 53px;
    grid-column-gap: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 193px 158px 68px 53px;
    grid-column-gap: 60px;
    padding-left: 175px;
  }
}

.goods__text {
  @media (min-width: $tablet-width) {
    grid-area: 1/1/1/1;
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    margin-top: -10px;
  }
}

.goods-list {
  .goods-list__item:nth-child(odd) {
    &:focus,
    &:focus-visible {
      outline: 1px solid rgb(139, 14, 139);
      outline-offset: -2px;
    }

    &:active {
      background-color: $basic-white;
      outline: none;
      color: $original-tiffany;
    }

    &:active::before {
      opacity: 0.2;
    }

    @media (min-width: $tablet-width) {
      &:hover {
        margin-top: -5px;
      }
    }
  }

  .goods-list__item:nth-child(even) {
    &:focus,
    &:focus-visible {
      outline: 1px solid rgb(139, 14, 139);
      outline-offset: -2px;
    }

    &:active {
      background-color: $basic-white;
      outline: none;
      color: $original-tiffany;
    }

    &:active::before {
      opacity: 0.2;
    }

    @media (min-width: $tablet-width) {
      &:hover {
        margin-top: -5px;
      }
    }
  }
}
