.group-extra {
  margin-bottom: 13px;

  @media (min-width: $desktop-width) {
    margin: 0 auto 10px auto;
    max-width: 1050px;
    padding: 0 175px 0 60px;
  }

  @media (min-width: 1151px) {
    margin: 0 auto 10px auto;
    max-width: 1050px;
    padding: 0 173px 0 60px;
  }
}

.group-extra__label {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}


.group-extra .input__label {
  gap: 21px;

  @media (min-width: $tablet-width) {
    gap: 130px;
  }

  @media (min-width: $desktop-width) {
    gap: 75px;
  }
}
