.group-type {
  border: 0;
  margin: 0 0 20px 0;
}

.group-type__list {
  padding: 36px 40px 0 58px;
}

.group-type__item {
  padding-bottom: 23px;
}

.group-color {
  margin: 0;
}

.group-color__list {
  padding: 36px 40px 0 58px;
}

.group-name {
  margin: 0 0 10px 0;
}

.group-name__list {
  padding: 28px 0 0 0;
}

.group-name__item {
  padding-bottom: 24px;
}

.group-info {
  margin: 0 0 34px 0;
}

.group-extra {
  margin-bottom: 13px;
}
