.group-type {
  border: 0;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.group-type__list {
  padding: 36px 40px 0 58px;

  @media (min-width: $tablet-width) {
    padding: 49px 40px 0 72px;
  }
}

.group-type__item {
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-bottom: 57px;
  }
}

.group-color {
  margin: 0;

  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
    padding: 38px 50px 22px 50px;
    margin-bottom: 40px;
  }
}

.group-color__list {
  padding: 36px 40px 0 58px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 154px;
    padding: 36px 40px 0 64px;
  }
}

.group-name {
  margin: 0 0 10px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 125px;
    margin: 0 0 15px 0;
  }
}


.group-name__list {
  padding: 28px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 25px 0 0 0;
    width: 100%;
  }
}

.group-name__item {
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 37px;
  }
}

.group-info {
  margin: 0 0 34px 0;

  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
    padding: 52px 50px 35px 50px;
    margin-bottom: 63px;
  }
}

.group-extra {
  margin-bottom: 13px;
}

.group-info__list {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.group-extra__label {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
