.header {
  position: relative;
  min-height: 79px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    min-height: 90px;
  }
}

.header__nav-list {
  display: none;

  &.opened {
    display: block;
    position: absolute;
    top: 80px;
    z-index: 2;
    background-color: $basic-white;
    width: 100%;
  }

  .list__wrapper {
    display: none;
  }
}

.header__img {
  position: absolute;
  top: 23px;
  left: calc(50% - 44px);

  @media (min-width: $tablet-width) {
    left: 50px;
  }

  @media (min-width: $desktop-width) {
    top: 8px;
    left: 33.3em;
  }

  @media (min-width: 1151px) {
    left: 50.3em;
  }
}

.header__nav-toggle {
  appearance: none;
  border: none;
  background: url("../img/icons/burger.svg") no-repeat center center;
  position: absolute;
  right: 31px;
  top: 32px;
  width: 20px;
  height: 14px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__nav-text {
  display: none;
}
