.hero {
  min-height: 490px;
}

.hero__list {
  @include list-item-style;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    display: flex;
    margin: -145px auto 0 auto;
  }
}

.hero__title {
  @include main-title;
  @include list-item-style;
  max-width: 245px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: bold;
    color: $basic-black;
    font-size: 43px;
    line-height: 50px;
    max-width: 668px;
  }
}

.hero__item-title {
  @include list-item-style;
}

.hero__wrapper {
  &--index {
    background-image: url("../img/photos/index/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center top -18px;
    background-color: $basic-white;
    min-height: 284px;
    padding-top: 70px;
    position: relative;
    background-size: 320px 376px;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/photos/index/hero-mobile@2x.jpg");
      background-size: 320px 376px;
    }

    @media (min-width: $tablet-width) {
      padding-top: 153px;
      min-height: 770px;

      &::after {
        content: "";
        display: block;
        background-image: url("../img/icons/wave-decor-tablet.svg");
        background-repeat: repeat-x;
        background-position: bottom;
        width: 100%;
        height: 32px;
        position: absolute;
        bottom: 16px;
        z-index: 1;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 54px;
    }


    @media (min-width: 447px) {
      background-image: url("../img/photos/index/hero-tablet.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/photos/index/hero-tablet@2x.jpg");
      }
    }

    @media (min-width: 769px) {
      background-image: url("../img/photos/index/hero-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/photos/index/hero-desktop@2x.jpg");
      }
    }
  }
}


//   &--form {
//     background-image: none;

//     @media (min-resolution: 2dppx) {
//       background-image: none;
//     }

//     background-color: #e2e2e2;
//     min-height: 177px;
//     position: relative;
//     z-index: 0;

//     @media (min-width: variables.$screen-tablet) {
//       margin-bottom: 54px;
//       min-height: 238px;

//       &::after {
//         content: "";
//         display: block;
//         width: 100%;
//         height: 24px;
//         background-image: url("../img/zigzag_line_hero.svg");
//         background-repeat: repeat-x;
//         background-position: bottom;
//         z-index: 0;
//         position: absolute;
//         bottom: -6px;
//       }
//     }

//     @media (min-width: variables.$screen-desktop) {
//       min-height: 272px;

//       &::after {
//         height: 34px;
//         background-size: cover;
//       }
//     }
//   }
// }

// .hero__type {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   max-width: 1150px;
//   margin: 0 auto;
//   left: 0;
//   right: 0;

//   @media (min-width: variables.$screen-tablet) {
//     display: flex;
//     padding: 0 50px;
//   }
// }

// .hero__title {
//   text-align: center;
//   font-size: clamp(27px, 5vw, 53px);
//   line-height: clamp(30px, 5vw, 57px);
//   padding: 90px 30px 249px;
//   width: clamp(260px, 87vw, 668px);
//   margin: 0 auto;

//   @media (min-width: variables.$screen-tablet) {
//     padding-top: 154px;
//   }

//   @media (min-width: variables.$screen-desktop) {
//     width: 700px;
//   }

//   &--form {
//     padding: 73.5px 0;

//     @media (min-width: variables.$screen-tablet) {
//       position: relative;
//       padding-top: 101px;
//       padding-bottom: 63px;
//     }
//   }
// }

// .hero__description {
//   background-color: #ffffff;
//   color: #444444;
//   font-size: 13px;
//   line-height: 24px;
//   padding-top: 17px;
//   padding-bottom: 29px;

//   @media (min-width: variables.$screen-tablet) {
//     font-size: 17px;
//     line-height: 30px;
//   }

//   @media (min-width: variables.$screen-desktop) {
//     padding-left: 217px;
//     padding-right: 217px;
//     white-space: initial;
//     max-width: 1150px;
//   }
// }
