.hero {
  min-height: 490px;
}

.hero__item {
  @media (min-width: $desktop-width) {
    flex: 1;
  }
}

.hero__list {
  @include list-item-style;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    display: flex;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    display: flex;
    margin: 0 50px;
  }

  @media (min-width: 1151px) {
    min-width: 1050px;
    margin: 0 auto;
  }
}

.hero__title {
  @include main-title;
  @include list-item-style;
  max-width: 245px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: bold;
    color: $basic-black;
    font-size: 43px;
    line-height: 50px;
    max-width: 668px;
  }

  @media (min-width: $desktop-width) {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: bold;
    color: $basic-black;
    font-size: 43px;
    line-height: 50px;
    max-width: 668px;
  }

  @media (min-width: $desktop-width) {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: bold;
    color: $basic-black;
    font-size: 53px;
    line-height: 57px;
    max-width: 700px;
  }
}

.hero__item-title {
  @include list-item-style;
  max-width: fit-content;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 123px;

  &--index {
    background-image: url("../img/photos/index/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center top -18px;
    background-color: $basic-white;
    min-height: 284px;
    padding-top: 70px;
    position: relative;
    background-size: 320px 376px;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/photos/index/hero-mobile@2x.jpg");
      background-size: 320px 376px;
    }

    @media (min-width: $tablet-width) {
      padding-top: 67px;
      min-height: 663px;
      gap: 367px;
      justify-content: space-between;

      &::after {
        content: "";
        display: block;
        background-image: url("../img/icons/wave-decor-tablet.svg");
        background-repeat: repeat-x;
        background-position: bottom;
        width: 100%;
        height: 32px;
        position: absolute;
        bottom: -5px;
        z-index: 1;

        @media (min-width: $desktop-width) {
          background-size: 1247px;
          background-repeat: repeat-x;
          height: 40px;
          bottom: 0;
        }

        @media (min-width: 1205px) {
          background-size: 1247px;
          background-repeat: repeat-x;
          height: 40px;
          bottom: 0;
        }
      }
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 353px;
    }


    @media (min-width: 450px) {
      background-image: url("../img/photos/index/hero-tablet.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/photos/index/hero-tablet@2x.jpg");
      }
    }

    @media (min-width: 769px) {
      background-image: url("../img/photos/index/hero-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/photos/index/hero-desktop@2x.jpg");
        width: 100%;
        height: 100%;
      }
    }
  }
}
