.input__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  color: $basic-black;
  font-size: 17px;
  line-height: 18px;

  &--tel {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: bold;
    color: $original-tiffany;
    font-size: 17px;
    line-height: 16px;
    margin: 0 0 36px 0;
    text-transform: uppercase;
    position: relative;
  }

  &--email {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: bold;
    color: $original-tiffany;
    font-size: 17px;
    line-height: 16px;
    margin: 0;
    text-transform: uppercase;
    position: relative;
  }
}

.input__label--tel::after {
  content: "";
  position: absolute;
  background: url("../img/icons/phone.svg") no-repeat center center;
  right: 0;
  top: 24px;
  width: 40px;
  height: 40px;
}


.input__label--email::after {
  content: "";
  position: absolute;
  background: url("../img/icons/mail.svg") no-repeat center center;
  right: 0;
  top: 24px;
  width: 40px;
  height: 40px;
}

.input__area[value] {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: $basic-black;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
  padding: 10px 10px 15px 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.input__area {
  padding: 10px 10px 21px 0;
  border-top: none;
  border-left: none;
  border-right: none;

  &--tel {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.input__area--tel[type="tel"]::placeholder {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: $basic-black;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
}


.input__area--email[type="email"]::placeholder {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: $basic-black;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
}

.group-info__item .input__label {
  gap: 7px;
}

.input__add {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  color: $original-tiffany;
  font-size: 17px;
  line-height: 16px;
  margin: 0;
  text-transform: uppercase;
}

.group-extra .input__label {
  gap: 21px;
}

.input__email {
  position: relative;
}

.input__email::after {
  content: "";
  width: calc(100% - 78px);
  height: 1px;
  background-color: #63d1bb;
  position: absolute;
  left: 79px;
  top: 7px;
}
