.list__link {
  @include no-decor;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  color: $basic-black;
  font-size: 15px;
  line-height: 24px;
  border-top: 1px solid #ececec;
  text-align: left;
  padding: 27px 0 27px 75px;


  &--cart {
    font-size: 17px;
    line-height: 24px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    color: $original-tiffany;
  }

  &:focus-visible,
  &:focus {
    outline: 1px solid rgb(139, 14, 139);
    height: fit-content;
  }

  &.disabled {
    opacity: 0.3;
  }
}

.list__container {
  display: flex;
  flex-direction: column;
}

.list__text-search {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    display: block;
    mask-image: url("../img/icons/search.svg");
    background-color: $dark-grey;
    mask-repeat: no-repeat;
    left: 32px;
    top: 32px;
  }

  &:hover::before,
  &:focus::before {
    background-color: $dark-tiffany;
  }

  &:active::before {
    background-color: $dark-tiffany;
  }

  &:focus-visible {
    &::before {
      background-color: rgb(139, 14, 139);
    }
  }

  &.disabled {
    opacity: 0.3;
  }
}

.list__text-cart {
  position: relative;

  &::before {
    content: "";
    width: 21px;
    height: 21px;
    display: block;
    position: absolute;
    mask-image: url("../img/icons/cart.svg");
    background-color: $dark-grey;
    mask-repeat: no-repeat;
    left: 32px;
    top: 32px;
  }

  &:hover::before,
  &:focus::before {
    background-color: $dark-tiffany;
  }

  &:active::before {
    background-color: $dark-tiffany;
    opacity: 0.6;
  }

  &:focus-visible {
    background-color: rgb(139, 14, 139);
  }

  &.disabled {
    opacity: 0.3;
  }
}


.list__wrapper {
  @media (max-width: 1149px) {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .list__second-container {
    grid-area: 2/1/3/3;
    background-color: #f9f9f9;
    display: flex;
    border-top: 1px solid #e0e0e0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 38px;
    flex-grow: 1;
    padding-left: 50px;
    padding-top: 20px;

    &--catalog-color {
      background-color: #f1f1f1;
    }

    &--form-color {
      background-color: #f1f1f1;
    }
  }

  .list__link {
    font-size: 15px;
    line-height: 24px;
    padding: 0;
    border-top: none;

    &--cart {
      font-size: 17px;
      line-height: 24px;
    }
  }

  .list__wrapper {
    display: none;
  }

  .list__third-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-area: 1/3/2/5;
    background-color: $basic-white;
  }

  .list__link-search {
    display: none;
  }

  .list__text-cart {
    flex-grow: 1;
    background-color: $basic-white;
    border-left: 1px solid #e0e0e0;
    padding: 33px 30px 30px 87px;
  }

  .list__text-search {
    border-left: 1px solid #e0e0e0;
    background-color: $basic-white;
  }
}

@media (min-width: $desktop-width) {
  .list__second-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 71px;
    flex-grow: 1;
    background-color: $basic-white;
    padding-left: 50px;
    padding-top: 31px;
    grid-area: 1/1/2/2;
    border-top: none;
  }

  .list__link {
    font-size: 17px;
    line-height: 24px;
    padding: 0;
    border-top: none;

    &--cart {
      font-size: 17px;
      line-height: 24px;
    }
  }

  .list__wrapper {
    display: flex;
    grid-area: 2/1/2/3;
    background-color: #f9f9f9;
    padding: 21px 0 0 50px;
    gap: 42px;
    border-top: 1px solid #e0e0e0;

    &--new {
      font-size: 15px;
      line-height: 24px;
    }

    &--sale {
      font-size: 15px;
      line-height: 24px;
    }

    &--catalog-color {
      background-color: #f1f1f1;
    }

    &--form-color {
      background-color: #f1f1f1;
    }
  }


  .list__third-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-area: 1/3/2/5;
    background-color: $basic-white;
  }

  .list__link-search {
    display: none;
  }

  .list__text-cart {
    flex-grow: 1;
    background-color: $basic-white;
    border-left: 1px solid #e0e0e0;
    padding: 33px 30px 30px 87px;
  }

  .list__text-search {
    border-left: 1px solid #e0e0e0;
    background-color: $basic-white;
  }
}


//стили для шапки на разрешении, шире десктопного

@media (min-width: 1151px) {
  .header__nav-list {
    grid-template-columns: 50vw 300px 82px 47vw;

    & .list__container {
      justify-content: flex-end;

      &.list__second-container {
        gap: 50px;
      }

      &.list__third-container {
        grid-template-columns: 80px 322px;
        justify-content: flex-start;
      }
    }

    & .list__wrapper {
      justify-content: flex-end;
      grid-area: 2/1/2/2;
    }

    & .header__nav-text {
      grid-area: 2/2/2/5;
      padding-left: 409px;
    }
  }
}
