.slider__list {
  @include list-item-style;

  @media (min-width: $tablet-width) {
    grid-area: 2/1/3/3;
  }
}

.slider__text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: $basic-black;
  font-size: 15px;
  line-height: 30px;
  padding: 0 2px;
  margin-top: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    padding: 0 20px;
    margin-bottom: 0;
    grid-row: 1;
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
    padding: 0 70px 0 0;
    margin-top: -7px;
  }
}

.slider__author {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  color: $basic-black;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    grid-area: 2/1/2/2;
    margin-top: 60px;
    font-size: 17px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 36px;
    padding: 0;
  }
}


.slider__mail {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: $basic-black;
  font-size: 17px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    grid-area: 2/1/2/2;
    margin-top: 87px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 63px;
    padding: 0;
  }
}

.slider-button {
  flex: 1;
  height: 55px;
  position: relative;
  background-color: $basic-white;


  &:focus-visible,
  &:focus {
    outline: 1px solid rgb(139, 14, 139);
    outline-offset: 5px;
  }

  @media (min-width: $tablet-width) {
    border: none;
    transform: translate(18px, 125px);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 67px;
    transform: translate(0, 0);
  }
}

.slider__item {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}


.slider__item--current {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider {
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 514px 175px;
    grid-template-rows: 91px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 46.5em 12em;
    grid-template-rows: 100px 1fr;
  }
}
