
.slider-button {
  flex: 1;
  height: 55px;
  position: relative;
  background-color: $basic-white;


  &:focus-visible,
  &:focus {
    outline: 1px solid rgb(139, 14, 139);
    outline-offset: 5px;
  }

  @media (min-width: $tablet-width) {
    border: none;
    transform: translate(18px, 125px);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    transform: translate(1px, -116px);
  }
}
