
.social__link {
  display: block;
  color: #231f20;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    opacity: 0.3;
  }

  &:focus-visible,
  &:focus {
    outline: 1px solid rgb(139, 14, 139);
    outline-offset: 5px;
  }

  &.disabled {
    opacity: 0.3;
  }
}
