.textarea {
  min-height: 143px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: rgb(174, 171, 171);
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $dark-grey;
  padding: 17px 0 0 17px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    font-size: 19px;
    line-height: 18px;
  }

  &:hover {
    border: 2px solid $original-tiffany;
  }

  &:active {
    border: 2px solid $dark-tiffany;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid rgb(139, 14, 139);
    outline-offset: 5px;
  }
}
