//Font colors:
$black: #000000;

//Viewports:
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

//Background-colors:
$original-tiffany: #63d1bb;
$dark-tiffany: #56c3b2;
$basic-white: #ffffff;
$basic-black:#000000;
$basic-grey: #f1f1f1;
$dark-grey: #444444;
